body {
  font-family: "libreFranklin Light";
  font-size: 15px;
  margin: 0;
  padding: 0;
  color: $dark;
  // display: flex;
  // justify-content: center;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
.content-box-component {
  box-sizing: content-box;
}
p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  width: 1367px;
  height: 727px;
  margin: 0 auto;
}

@media (max-width: 1366px) {
  .container {
    width: auto;
  }
}
@media (max-width: 375px) {
  .container {
    height: auto;
  }
}
