$dark: #242c33;
$lipstick: #d8204f;
$macaroni-and-cheese: #f3b03b;
$ocean-green: #317b6c;
$deep-violet: #470a5a;
$very-light-blue: #dfe7f2;
$aqua-marine: #43d9d1;
$dark-grey-blue: #364459;
$white: #ffffff;
